{% extends 'manager/base.html' %}

{% block title %}List Image{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <h3 class="text-capitalize mt-3">List image</h3>
        <hr>
            <div class="row row-cols-1 row-cols-md-5">
               
                {% for object in object_list %}
                    <div class="col mb-4 mt-4">
                     
                        <div class="card">
                            <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="{{ object.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ object.title }}</h5>
                                <div class="btn-group-vertical">
                                    <a href="{{ object.image.url }}" target="_blank" class="btn btn-danger btn-block">Original Image</a>
                                    <a href="{{ object.thumbnail.url }}" target="_blank" class="btn btn-primary btn-block">Thumbnail Image</a>
                                </div>
                                <p>
                                    Image size:
                                    <span>{{ object.image_width }} * {{ object.image_height }}</span>
                                </p>
                                <p>
                                    Image type:
                                    {{ object.type_image }}
                                </p>
                                <p>
                                    Created at:
                                    {{ object.created_at|date:"d-m-Y" }}
                                </p>
                            </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
