{% extends 'manager/base.html' %}

{% block title %}List Image{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3 class="text-capitalize mt-3">List image</h3>
            <hr>
            <div class="row row-cols-1 row-cols-md-5">
               
                {% for object in object_list %}
                    <div class="col mb-4 mt-4">
                     
                        <div class="card">
                            <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="{{ object.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ object.title }}</h5>
                                <div class="btn-group-vertical">
                                    <a href="{{ object.image.url }}" target="_blank" class="btn btn-danger btn-block">Original Image</a>
                                    <a href="{{ object.thumbnail.url }}" target="_blank" class="btn btn-primary btn-block">Thumbnail Image</a>
                                </div>
                                <p>
                                    Image size:
                                    <span>{{ object.image_width }} * {{ object.image_height }}</span>
                                </p>
                                <p>
                                    Image type:
                                    {{ object.type_image }}
                                </p>
                                <p>
                                    Created at:
                                    {{ object.created_at|date:"d-m-Y" }}
                                </p>
                            </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}
