 * {
     padding: 0px;
     margin: 0px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     box-sizing: border-box;
 }

 body {
     background-color: #f3f3f3;
 }
 
 .errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .errorlist li {
    background-color: #ff8bac;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
 }